.content_block {
    width: 80%;
    max-width: 1200px;
    min-height: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 1rem 2rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.178);
    background-color: rgb(243, 240, 240);
}

.content_grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.content_grid h2 {
    text-align: center;
    grid-column: 1/3;
    grid-row: 1;
}

.content_grid h3 {
    text-align: center;
}

.content_inner_grid {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.category {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.content_grid .content_inner_grid {
    align-self: center;
    justify-self: center;
}

.content_inner_grid h3 {
    text-align: center;
}

.link {
    background-color: rgb(231, 229, 229);
    align-self: center;
    justify-self: center;
    padding: 1rem 1.5rem;
    width: fit-content;
}

/* Switch to grid only when the screen is wide enough */
@media (min-width: 1000px) {
    .content_inner_grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}