.content_block {
    width: 80%;
    max-width: 1200px;
    min-height: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    padding: 1rem 2rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.178);
    background-color: rgb(243, 240, 240);
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 2rem;
}

.link {
    background-color: rgb(231, 229, 229);
    align-self: center;
    padding: 1rem 1.5rem;
}