.content_block {
    width: 80%;
    max-width: 1200px;
    min-height: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 1rem 2rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.178);
    background-color: rgb(243, 240, 240);
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 2rem;
}

.link {
    text-decoration: none;
    color: rgb(120, 95, 204);
}

.link:hover {
    color: rgb(76, 61, 128);
}

.link_btn {
    text-decoration: none;
    color: white;
}

.btn {
    background-color: rgb(226, 150, 35);
    color: white;
    padding: 1rem 2rem;
    border-radius: 20px;
    width: fit-content; 
}

.btn:hover {
    background-color: rgb(206, 137, 33);
}

/*Logged Out*/
.logged_out {
    padding: 0 6rem;
    row-gap: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.logged_out_text {
    grid-column: 1/4;
    grid-row: 1;
    justify-self: center;  
    align-self: center;  
}

.log_in_btn {
    grid-column: 1;
    grid-row: 2;
    justify-self: end;  
    align-self: center; 
}

.logged_out_explore_btn {
    grid-column: 3;
    grid-row: 2;
    justify-self: start;  
    align-self: center; 
}

/*Logged In*/
.logged_in {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}


