.content_block {
    width: 80%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 1rem 2rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.178);
    background-color: rgb(243, 240, 240);
    display: flex;
    flex-direction: column;
    gap: 2rem;
}


