.comments {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
}

.comments ul {
    padding-left: 0rem;
    list-style-position: inside;
}

.comments textarea {
    width: 100%;
    height: 100px;
    padding: 1rem;
}

.submit_btn {
    padding: 0.5rem;
    color: white;
    background-color: rgb(206, 133, 23);
    border-radius: 20%;
}

