.header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: rgb(120, 95, 204);
    color: white;
    font-size: 20px;
    margin-bottom: 0;
}


.header_title {
    margin: 1rem 0 0 2rem;
    grid-row: 1;
    grid-column: 1/3;
}

.header_nav {
    grid-row: 2;
    grid-column: 2;
    justify-self: center;
    align-self: center;
    padding: 1rem 0;
}

.ul {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    list-style: none;
}

li a {
    color: white;
    text-decoration: none;
}

.incomplete {
    color: red;
}