.header {
    display: grid;
    grid-template-columns: 1fr auto;
    background-color: rgb(120, 95, 204);
    color: white;
    font-size: 20px;
    align-items: center;
    padding: 1rem 2rem;
    margin: 0;
}


.header_title {
    margin: 0;
}

.header_nav {
    justify-self: end;
}

.ul {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    list-style: none;
    align-items: center;

}

li a {
    color: white;
    text-decoration: none;
}

.hamburger_menu {
    display: none;
    background: none;
    color: white;
    border: none;
    font-size: 2rem;
    cursor: pointer;
}

.btn {
    padding: 0.5rem 1rem;
    color: white;
    background-color: rgb(226, 150, 35);
    border-radius: 20px;
    width: fit-content;
}

.btn:hover {
    background-color: rgb(206, 137, 33);
}

.link:hover {
    cursor: pointer;
}

.link_logout {
    cursor: pointer;
}


@media (max-width: 1000px) {

    .hamburger_menu {
        display: block;
        grid-column: 2;
        justify-self: end;
    }

    .header_nav {
        display: none;
        background-color: rgb(120, 95, 204);
        grid-column: 1 / 3;
        padding: 1rem 0;
    }

    .header_nav.open {
        display: block;
    }

    .ul {
        flex-direction: column;
        gap: 1rem;
        text-align: center;
    }
}


