.login_page {
    max-width: 50%;
    margin: 4rem;
}

.login_page h2 {
    margin-bottom: 1rem;
    color: rgb(226, 150, 35);
}

.form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    
}

.username {
    border: 4px;
}

.submit_btn {
    background-color: rgb(226, 150, 35);
    color: white;
    padding: 0.5rem 1.5rem;
    border-radius: 20px;
    width: fit-content; 
    font-size: 20px;
}

.submit_btn:hover {
    background-color: rgb(206, 137, 33);
}

.input, .textarea {
    border: 1px solid gray;
    padding: 1rem;
}
